{% extends 'main.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Voulez vous supprimer cette commande ?</p>
            <form action="{% url 'suppr_cmd' item.id%}" method="post">
                {% csrf_token%}
                <a class="btn btn-warning " href="{% url 'home'%}">Annuler</a>
                <input class="btn btn-danger" type="submit" name="Confirmed">
            </form>
        </div>
    </div>
</div>
{% endblock %}
