{% extends 'main.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row p-2">
        <div class="col-md-12">
            <h3>Clients</h3>
            <hr>
            <div class="card card-body shadow">
                <a href="{% url 'ajout_clt' %}" class="btn btn-primary btn-sm btn-block">Créer un client</a>
                <table class="table table-primary  table-hover table-sm ">
                    <tr class=" text-success">
                        <th>ID</th>
                        <th>Clients</th>
                        <th>Telephone</th>
                         <th>Détails</th>
                    </tr>
                    {% for client in clients %}
                    <tr>
                        <th> <a href="{% url 'client' client.id %}">{{ client.id }}</a></th>
                        <th>{{ client.nom }}</th>
                        <th>{{ client.telephone }}</th>
                        <th><a class="btn btn-outline-info" href="{% url 'client' client.id %}">Détails</a> </th>
    
                    </tr>
                    {% endfor %}
                </table>
            </div>
    
        </div>
</div>
{% endblock %}
